<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461156744270-ruo70gp8l5cbrdjb9lk3bfnbb37u9c61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461156744270-ruo70gp8l5cbrdjb9lk3bfnbb37u9c61</string>
	<key>API_KEY</key>
	<string>AIzaSyC6SK5ZCVh4lGdP9dGyPdyxqPhWt9dBiHI</string>
	<key>GCM_SENDER_ID</key>
	<string>461156744270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.reactnativedemoapp</string>
	<key>PROJECT_ID</key>
	<string>mealstogo-5fdee</string>
	<key>STORAGE_BUCKET</key>
	<string>mealstogo-5fdee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461156744270:ios:46e838eb7c24b07106571f</string>
</dict>
</plist>